In [2]:
import pandas as pd

In [30]:
combined_df = pd.read_csv("Data/CombinedData.csv")

In [6]:
Analyst_df = pd.read_csv("Data/DataAnalyst.csv")

In [7]:
Analyst_df.head(5)

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,TRUE
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,TRUE

In [8]:
Engineer_df = pd.read_csv("Data/DataEngineer.csv")

In [9]:
Scientist_df = pd.read_csv("Data/DataScientist.csv")

In [10]:
from sqlalchemy import create_engine

In [11]:
engine = create_engine('sqlite://', echo=False)

In [12]:
Analyst_df.to_sql('analyst', con=engine)

In [ ]:
engine.execute("SELECT * FROM analyst").fetchall()

In [23]:
rds_connection_string = "postgres:Transcend1@localhost:5432/RegionalJobMarket"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [24]:
engine.table_names()

[]

In [25]:
Analyst_df.to_sql(name='analyst', con=engine, if_exists='append', index=False)

In [26]:
engine.table_names()

['analyst']

In [27]:
Engineer_df.to_sql(name='engineer', con=engine, if_exists='append', index=False)

In [28]:
Scientist_df.to_sql(name='scientist', con=engine, if_exists='append', index=False)

In [29]:
engine.table_names()

['analyst', 'engineer', 'scientist']

In [31]:
combined_df.to_sql(name='combined', con=engine, if_exists='append', index=False)

In [32]:
engine.table_names()

['analyst', 'engineer', 'scientist', 'combined']